# Supabase Configuration
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=

# Cal.com Configuration
VITE_CAL_OAUTH_CLIENT_ID=
VITE_CAL_ORG_ID=
VITE_CAL_API_URL=https://api.cal.com/v2
VITE_CAL_REFRESH_URL=

# Stripe Configuration
VITE_STRIPE_WEBSITE_ADDON_PRICE_ID=
VITE_STRIPE_STARTER_MONTHLY_PRICE_ID=
VITE_STRIPE_STARTER_ANNUAL_PRICE_ID=
VITE_STRIPE_UNLIMITED_MONTHLY_PRICE_ID=
VITE_STRIPE_UNLIMITED_ANNUAL_PRICE_ID=

# App Configuration
VITE_APP_URL=https://os.spearlance.com
